*.err
BiosBuilder/bin/
BiosBuilder/obj/
DecoderBuilder/bin/
DecoderBuilder/obj/
Emulator/bin/
Emulator/obj/
BIOS/_deprecated/
*.suo
*.b#?
*.s#?
links.txt
BIOS/DOSBOX/APPINFO/
BIOS/DOSBOX/DEVEL/
BIOS/DOSBOX/DJGPP/
BIOS/DOSBOX/LINKS/
BIOS/DOSBOX/LOCAL/*.c
BIOS/DOSBOX/LOCAL/*.h
BIOS/DOSBOX/SOURCE/
BIOS/*.BIN
*.sch-bak
*.kicad_pcb-bak
*.bck
fp-info-cache
BIOS/DOSBOX/TMP/
VGA/output_files/
VGA/simulation/
VGAreg/output_files/
VGAreg/db/
VGA/db/
VGA/incremental_db/
VGAreg/incremental_db/
BIOS/DOSBOX/LOCAL/*.BIN
BIOS/DOSBOX/LOCAL/*.O
BIOS/DOSBOX/LOCAL/*.S
BIOS/DOSBOX/LOCAL/*.I
*.bak
BIOS/*.exe
BIOS/bios/
BIOS/b.asm
