*.err
*.suo
*.b#?
*.s#?
*.sch-bak
*.kicad_pcb-bak
*.bck
*.bak
links.txt
fp-info-cache
BiosBuilder/bin/
BiosBuilder/obj/
DecoderBuilder/bin/
DecoderBuilder/obj/
Emulator/bin/
Emulator/obj/
BIOS/_deprecated/
BIOS/*.BIN
BIOS/*.exe
BIOS/bios/
BIOS/b.asm
VGAreg/simulation/
KiCad/_deprecated/
Altera/SD controller/db/
Altera/SD controller/incremental_db/
Altera/SD controller/output_files/
Altera/VGA/db/
Altera/VGA/incremental_db/
Altera/VGA/output_files/
Altera/VGA/simulation/
Altera/VGAreg/db/
Altera/VGAreg/incremental_db/
Altera/VGAreg/output_files/
Altera/VGAreg/simulation/
Altera/VGA_graphics/
Altera/VGA_textmode/
Debug/
